body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    min-height: 100vh;
}
header {
    background-color: #0fb9b1;
    padding: 20px;
    display: flex;
    justify-content: center;
}
nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 1000;
    border-radius: 50px;
    background-color: white;
    color: #0fb9b1;
    padding: 10px 30px;
}
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    gap: 20px;
}
.titulo {
    display: flex;
    justify-content: center;
    font-weight: 1000;
    color: #333;
    font-size: 20px;
}
.destinos {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.destino {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d98da;
    color: white;
    padding: 60px 40px;
    border-radius: 10px;
    font-weight: 1000;
}
.detalhes {
    display: flex;
    gap: 20px;
}
.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a5b1c2;
    flex: 1;
    padding: 60px;
    border-radius: 10px;
    font-weight: 1000;
    color: white;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #0fb9b1;
    color: white;
}