body{
    background-color: #001229;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logo{
    border-radius: 500px;
    width: 8%;
    height: 1%;
    margin-left: 100px;
    border: black 5px solid;
}

header{
    border-radius: 100px;
    background-color: #4156bd;
    background-origin: padding-box;
    
    display: flex;
    font-size: 2px;
    padding: -10px;
    margin: 50;
    gap: 200px;
   
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-left: 160px;

}

nav{
    display: flex;
}
ul, ol{
    display: flex;
    flex-direction: column;    
    justify-content: space-evenly;
    align-items: start;
    margin-right: 20vh;
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    list-style: inside;
    display: inline-block;
}
img{
    width: 100%;
    height: 50%;
    margin-top: 10px;
}
a{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;

}

#titulo{
    color: white;
    margin:0;
    margin-top: 50px;
}

.cursos{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin-top: 50px;

}

.listStyle{
    list-style: circle;
    padding: 0;
    margin: 0;
    margin-left: -200px;
}

.listaCursos{
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.listaCursos a{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    height: 100px;
    width: 500px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3f55;
    color: white;
    font-size: 20px;
    margin-top: 100px;
}